## Task 1: Data Preparation

The project aims to:
(1) Analyze customer churn in a telecommunications company
(2) Develop predictive models to identify at-risk customers

TASK 1
a) Load the dataset
b) Conduct an initial exploration
c) Handle missing values, and if necessary
d) Convert categorical variables into numerical representations. 
e) Furthermore, split the dataset into training and testing sets for subsequent model evaluation.

### DATA PREPARATION

#### IMPORT

In [1]:
# Import Libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from sklearn.model_selection import train_test_split

In [2]:
# Load the dataset and set 'customerID' as the index
df = pd.read_csv(r"C:\Users\GREAT\Downloads\Telco_Customer_Churn_Dataset  (3) - Telco_Customer_Churn_Dataset  (3).csv").set_index('customerID')

# Ensure all columns are displayed when viewing the DataFrame
pd.set_option('display.max_columns', None)

# Print the number of rows and columns in the dataset
print(df.shape)

# Display the first five rows to get a quick overview of the data
df.head()

(7043, 20)

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
customerID,,,,,,,,,,,,,,,,,,,,
7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

#### DATA EXPLORATION

In [3]:
# Display summary information about the dataset 
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7043 entries, 7590-VHVEG to 3186-AJIEK
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   object
 3   Dependents        7043 non-null   object
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   object
 6   MultipleLines     7043 non-null   object
 7   InternetService   7043 non-null   object
 8   OnlineSecurity    7043 non-null   object
 9   OnlineBackup      7043 non-null   object
 10  DeviceProtection  7043 non-null   object
 11  TechSupport       7043 non-null   object
 12  StreamingTV       7043 non-null   object
 13  StreamingMovies   7043 non-null   object
 14  Contract          7043 non-null   object
 15  PaperlessBilling  7043 non-null   object
 16  PaymentMethod     7043 non-null   object
 17  MonthlyCharges    7043 non-null   float64
 18  TotalCharges      7032 non-null   float64
 19  Churn             7043 non-null   object
dtypes: float64(2), int64(2), object(16)
memory usage: 1.1+ MB

In [4]:
# # Select and count all categorical (object-type) columns
cat_cols = df.select_dtypes('object').columns
print(f'Number of Categorical features:' ,len(cat_cols))

# Select and count all numerical (int and float) columns
num_cols =df.select_dtypes(['int64','float64']).columns
print(f'Number of Numerical features:',len(num_cols))

Number of Categorical features: 16
Number of Numerical features: 4

In [5]:
# Check for missing Values
df.isna().sum()

gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges       0
TotalCharges        11
Churn                0
dtype: int64

In [6]:
# Check for Duplicate rows
df.duplicated().sum()

22

In [7]:
# Get total number of unique entry in each column
df.nunique()

gender                 2
SeniorCitizen          2
Partner                2
Dependents             2
tenure                73
PhoneService           2
MultipleLines          3
InternetService        3
OnlineSecurity         3
OnlineBackup           3
DeviceProtection       3
TechSupport            3
StreamingTV            3
StreamingMovies        3
Contract               3
PaperlessBilling       2
PaymentMethod          4
MonthlyCharges      1585
TotalCharges        6530
Churn                  2
dtype: int64

In [8]:
# Check for leading or Trailing spaces
(df.map(lambda x: isinstance(x, str) and x.strip() != x)).any()

gender              False
SeniorCitizen       False
Partner             False
Dependents          False
tenure              False
PhoneService        False
MultipleLines       False
InternetService     False
OnlineSecurity      False
OnlineBackup        False
DeviceProtection    False
TechSupport         False
StreamingTV         False
StreamingMovies     False
Contract            False
PaperlessBilling    False
PaymentMethod       False
MonthlyCharges      False
TotalCharges        False
Churn               False
dtype: bool

In [9]:
#Remove duplicates
df = df.drop_duplicates()

# Fill missing values with the mean 
df.fillna(df['TotalCharges'].mean(), inplace = True)

In [10]:
# Data Shape after removing duplicates
print(df.shape)
# Confirm if missing values have been replaced
df.isna().sum()

(7021, 20)

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

```The initial dataset comprised 7,043 observations and 21 variables, including 16 categorical and 4 numerical variables. During the data cleaning process, 22 duplicate records were identified and subsequently removed. Additionally, 11 missing values were detected in the TotalCharges column and were imputed with the mean value of that column. Following these preprocessing steps and the designation of customerID as the dataset index, the cleaned dataset consisted of 7,021 observations and 20 variables.```

#### SPLIT

In [78]:
X = df.drop('Churn', axis = 1)
y = df['Churn']

In [79]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2, random_state = 42)
print(X_train.shape,X_test.shape,y_train.shape,y_test.shape)

(5616, 19) (1405, 19) (5616,) (1405,)